# or any other RPC URL
RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
# your mnemonic
MNEMONIC="your wallet secure pass phrase for deployments keep it safe and hidden"
# (optional) your etherscan API key
ETHERSCAN_API_KEY="123456789ABCDEFGHIJKLMNOPQRSTUXWYZ"
# (optional) Address of the EAS registry on chain
EAS_REGISTRY="0x..."
# (optional) Address of the Verax registry on chain
VERAX_REGISTERY="0x..."
